* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100%;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* mobile view */
.desktopView{
    display: none;
}

#mainSection{
    min-height: 100vh;
}

h1 {
    position: absolute;
    width: 319px;
    height: 58px;
    margin-left: 7px;
    margin-top: 437px;
    font-weight: 700;
    font-size: 43px;
    font-style: normal;
    line-height: 58px;
    color: white;
}

h3 {
    position: absolute;
    width: 223px;
    height: 29px;
    margin-left: -19px;
    margin-top: 486px;
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}

.mobileView {
   background-image: url("./hero\ 2.jpg");
   background-size: cover;
   height:100vh;
}

.logo {
    position: absolute;
    width: 189px;
    height: 154px;
    margin-left: -54px;
    margin-top: 308px;
}

.firstDiv {
    position: absolute;
    background-color: #DAEAF6;
    height:100vh;
    width:100vw;
    margin-top: 800px;
}

#aboutMe  {
    color: #252525;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}


.aboutMe p {

}