* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* mobile view */
.desktopView{
    display: none;
}

.heroImg {
    display:flex;
    height: 100vh;
}

h1 {
    position: relative;
    margin: 0px;
    padding-left: 7px;
    top: 437px;
    letter-spacing: 2px;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 26px;
    font-style: normal;
    line-height: 58px;
    color: white;
}

h3 {
    position: absolute;
    margin:0px;
    padding-left: 6px;
    top: 486px;
    letter-spacing: 2px;
    color: white;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
}

.heroImg {  /*hero image for first page*/
   background-image: url("./hero\ 2.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height:100vh;
}

.logo {/*title page logo positioning and styling*/
    position: absolute;
    width: 189px;
    height: 154px;
    margin-left: -54px;
    top: 308px;
}

 .aboutMediv { /* parent div for about me styling   */
    background-color: #DAEAF6;
    height:100vh;
    width:100vw;
}

 #aboutMe  {    /* about me page title h2 */
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
}

.aboutMetext  {   /*about me text styling*/
    padding-top: 40px;
    color: #252525;
    font-size: 16px;
}

.skillsDiv { /*skills div parent container*/
    background-color: #124E96;
    height: 100vh;
    width: 100vw;

}

#skills { /* skills title h2*/
    color:white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
}

.skillsText {  /*skills text styling*/
    padding-top: 40px;
    font-size: 16px;
    color: white;
}

.projectsDiv { /*projects div parent container*/
    background-color: #DAEAF6;
    height:100vh;
    width:100vw;
}

#projects {    /*projects title h2*/
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
}

.projectsText { /*projects text styling*/
    padding-top: 40px;
    font-size: 14px;
    color: #252525;
}

.contactMediv { /*contact me div parent container*/
    position: relative;
    background-color:#0D8ABC;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

#contactMe { /*contact me title h2*/
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-top: 25px;
    margin-left: 21px;
}


.formContainer { /*parent div for the form*/
    width: 100vw;
    background-color: #0D8ABC;
    font-size: 16px;
}

 #contactForm { /*form tag padding*/
  padding: 20px;
}

input[type="text"], /*input box styling*/
input[type="email"],
[type="submit"],
textarea {
width: 100%;
padding: 10px 16px;
background-color: #DAEAF6;
margin: 8px 0px;
border: none;
}

input[type="submit"] {  /*form submit button styling*/
    background-color: #FF008E;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 14px 20px;
    cursor: pointer;
    } 
 
input::placeholder {  /*placeholder text styling for name and email*/
    font-weight: bolder;
    opacity: .5;
    color: black;
}
    
textarea::placeholder { /*placeholder text styling for message box*/
    font-weight: bolder;
    opacity: .5;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.icons{   /*icon div containter*/
    margin-top: 10px;
}
.iconText{  /*icon styling and text styling*/
    color: #DAEAF6;
    margin-left: 23px;
    font-weight: 100;
    font-size: 16px;
    padding: 15px 0px;
    letter-spacing: 1.5px;
}

.iconLink{  /*removes underlining for the link and the blue color*/
    text-decoration: none;
    color: #DAEAF6;
}


.iconText  { /*text styling next to icon to stop blue in the link*/
    color: #DAEAF6;
    text-decoration: none;
    }

.telNumber {
    color: #DAEAF6;
    text-decoration: none;
}    

.bottomLogo {  /*logo at the bottom of the contact me div styling*/
    position: absolute;
    right: 0;
    bottom:0;
    width: 95px;
    height: 95px;
}

footer{  /*pink footer styling*/
    width:100%;
    display: flex;
    height:48px;
    background-color: #FF008E;
    color: white;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

